.container-fluid{
  margin-top: 20px;
  a{
    cursor: pointer;
  }
}
.add{
    float: right;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}
form{
  margin-top: 5px;
    margin-bottom: 5px;
}
